Repository web-infra-dev/rsbuild, pull requests merged in 2023-11, with the labels that each got.

#706 feat: support config file export function
  .changeset/plenty-news-film.md
  e2e/cases/cli/function-config/index.test.ts
  e2e/cases/cli/function-config/rsbuild.config.ts
  e2e/cases/cli/function-config/src/index.js
  packages/core/src/cli/config.ts
  packages/document/docs/en/guide/basic/config.mdx
  packages/document/docs/zh/guide/basic/config.mdx
Labels: change: feat

#707 docs: Vue CLI config migration guide
  packages/document/docs/en/guide/migration/vue-cli.mdx
  packages/document/docs/zh/guide/migration/vue-cli.mdx
Labels: change: docs

#709 docs: mark getCompiledPath as private
  packages/document/docs/en/guide/basic/configure-rspack.mdx
  packages/document/docs/en/guide/basic/tailwindcss.mdx
  packages/document/docs/en/guide/basic/unocss.mdx
  packages/document/docs/en/shared/config/tools/rspack.md
  packages/document/docs/zh/guide/basic/tailwindcss.mdx
  packages/document/docs/zh/guide/basic/unocss.mdx
  packages/document/docs/zh/shared/config/tools/rspack.md
  packages/shared/src/types/hooks.ts
Labels: change: docs

#710 feat: add plugins hooks for prod server
  .changeset/wild-colts-breathe.md
  e2e/cases/javascript-api/plugin-hooks/index.test.ts
  e2e/cases/javascript-api/plugin-hooks/src/index.js
  e2e/cases/javascript-api/plugin/rsbuild.config.js
  packages/compat/webpack/src/core/initHooks.ts
  packages/compat/webpack/src/core/initPlugins.ts
  packages/compat/webpack/src/provider.ts
  packages/compat/webpack/tests/__snapshots__/hooks.test.ts.snap
  packages/core/src/createRsbuild.ts
  packages/core/src/index.ts
  packages/core/src/rspack-provider/core/initHooks.ts
  packages/core/src/rspack-provider/core/initPlugins.ts
  packages/core/src/server/devServer.ts
  packages/core/src/server/prodServer.ts
  packages/document/docs/en/api/javascript-api/instance.mdx
  packages/document/docs/en/plugins/dev/hooks.mdx
  packages/document/docs/en/shared/onAfterStartProdServer.md
  packages/document/docs/en/shared/onBeforeStartProdServer.md
  packages/document/docs/zh/api/javascript-api/instance.mdx
  packages/document/docs/zh/plugins/dev/hooks.mdx
  packages/document/docs/zh/shared/onAfterStartProdServer.md
  packages/document/docs/zh/shared/onBeforeStartProdServer.md
  packages/shared/src/devServer.ts
  packages/shared/src/types/hooks.ts
  packages/shared/src/types/plugin.ts
  packages/shared/src/types/rsbuild.ts
Labels: change: feat

#711 fix: failed to modify server port in plugins
  .changeset/red-walls-crash.md
  e2e/cases/preview/index.test.ts
  packages/compat/webpack/src/core/initConfigs.ts
  packages/compat/webpack/src/provider.ts
  packages/core/src/rspack-provider/core/initConfigs.ts
  packages/core/src/rspack-provider/index.ts
  packages/core/src/rspack-provider/provider.ts
Labels: change: fix

#713 types: unify compiler type, use Rspack compiler by default
  .changeset/perfect-queens-carry.md
  packages/compat/webpack/src/core/createCompiler.ts
  packages/compat/webpack/src/core/initHooks.ts
  packages/compat/webpack/src/provider.ts
  packages/compat/webpack/src/types/plugin.ts
  packages/core/src/rspack-provider/core/initHooks.ts
  packages/core/src/rspack-provider/provider.ts
  packages/core/src/types.ts
  packages/shared/src/types/hooks.ts
  packages/shared/src/types/plugin.ts
  packages/shared/src/types/provider.ts
Labels: change: feat

#715 docs: explain the relationship
  packages/document/docs/en/guide/faq/general.md
  packages/document/docs/zh/guide/faq/general.md
Labels: change: docs

#716 fix(plugin-svelte): use wildcard in conditionNames
  .changeset/poor-buses-brush.md
  packages/plugin-svelte/src/index.ts
  packages/plugin-svelte/tests/__snapshots__/index.test.ts.snap
Labels: change: fix

#717 perf(plugin-rem): use define to inject version
  .changeset/ten-drinks-float.md
  packages/core/modern.config.ts
  packages/plugin-assets-retry/src/AssetsRetryPlugin.ts
  packages/plugin-assets-retry/src/env.d.ts
  packages/plugin-rem/src/AutoSetRootFontSizePlugin.ts
  packages/plugin-rem/src/env.d.ts
  packages/shared/src/plugins/index.ts
  packages/shared/src/plugins/util.ts
  scripts/modern.base.config.ts
Labels: change: perf

#701 feat: fix issue of service worker & add example
  examples/service-worker/build.mjs
  examples/service-worker/index.html
  examples/service-worker/package.json
  examples/service-worker/src/sw.ts
  packages/shared/src/apply/output.ts
  pnpm-lock.yaml
Labels: change: feat

#723 types: improve defineConfig typing
  .changeset/slow-badgers-love.md
  packages/core/src/cli/config.ts
Labels: change: feat

#724 fix(plugin-source-build): not work when use Rspack
  .changeset/popular-pants-refuse.md
  e2e/cases/source-build/app/rsbuild.config.ts
  e2e/cases/source-build/index.test.ts
  packages/plugin-source-build/src/index.ts
Labels: change: fix

#725 fix: preload resource can't be used if crossOrigin attr not match
  .changeset/plenty-grapes-peel.md
  e2e/cases/html/combined/html.test.ts
  e2e/cases/html/cross-origin/index.test.ts
  e2e/cases/html/cross-origin/src/index.js
  e2e/cases/performance/load-resource/index.test.ts
  packages/shared/src/plugins/HtmlCrossOriginPlugin.ts
  packages/shared/src/plugins/HtmlPreloadOrPrefetchPlugin/index.ts
Labels: change: fix

#726 feat: print rsbuild plugins when inspect config
  .changeset/rude-poems-stare.md
  packages/compat/webpack/src/core/inspectConfig.ts
  packages/core/src/rspack-provider/core/inspectConfig.ts
  packages/core/tests/__snapshots__/inspect.test.ts.snap
  packages/core/tests/inspect.test.ts
  packages/shared/src/types/provider.ts
Labels: change: feat

#727 feat: support react plugin in uni-builder
  .changeset/friendly-kangaroos-appear.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  pnpm-lock.yaml
Labels: change: feat

#728 feat: support svgr in uni-builder
  .changeset/quick-parrots-vanish.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  pnpm-lock.yaml
Labels: change: feat

#729 feat(core): support printFileSize.detail and printFileSize.total
  .changeset/gorgeous-swans-compete.md
  e2e/cases/performance/printFileSize.test.ts
  packages/core/src/plugins/fileSize.ts
  packages/document/docs/en/shared/config/performance/printFileSize.md
  packages/document/docs/zh/shared/config/performance/printFileSize.md
  packages/shared/src/types/config/performance.ts
Labels: change: feat

#737 feat(uni-builder): support ts-checker
  .changeset/many-balloons-bow.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  pnpm-lock.yaml
Labels: change: feat

#738 feat(uni-builder): apply css-minimizer-webpack-plugin
  .changeset/brave-parents-arrive.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/rspack/index.ts
  packages/compat/uni-builder/src/types.ts
  packages/plugin-css-minimizer/src/index.ts
  pnpm-lock.yaml
Labels: change: feat

#739 feat(uni-builder): support checkSyntax
  .changeset/two-doors-fail.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  pnpm-lock.yaml
Labels: change: feat

#741 feat(core): export logger module as a helper
  .changeset/fuzzy-paws-attend.md
  packages/compat/plugin-swc/package.json
  packages/compat/plugin-swc/src/minimizer.ts
  packages/compat/plugin-swc/src/utils.ts
  packages/core/src/index.ts
  packages/document/docs/en/api/javascript-api/core.mdx
  packages/document/docs/zh/api/javascript-api/core.mdx
  packages/plugin-check-syntax/src/helpers/printErrors.ts
  packages/plugin-rem/src/AutoSetRootFontSizePlugin.ts
  packages/plugin-svelte/src/index.ts
  packages/plugin-type-check/src/index.ts
  pnpm-lock.yaml
  scripts/modern.base.config.ts
Labels: change: feat

#742 docs: remove webpack related hooks
  packages/document/docs/en/plugins/dev/core.mdx
  packages/document/docs/en/plugins/dev/hooks.mdx
  packages/document/docs/zh/plugins/dev/core.mdx
  packages/document/docs/zh/plugins/dev/hooks.mdx
Labels: change: docs

#743 feat(uni-builder): support tools.pug
  .changeset/rotten-geckos-smell.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  pnpm-lock.yaml
Labels: change: feat

#744 fix: rspack ecosystem-ci failed
  .changeset/smooth-tools-decide.md
  e2e/cases/css/css-modules/index.test.ts
  e2e/cases/performance/performance.test.ts
  e2e/cases/stylus-rem/index.test.ts
  e2e/cases/stylus/index.test.ts
  packages/core/package.json
  packages/doctor-core/package.json
  packages/doctor-rspack-plugin/package.json
  packages/doctor-types/package.json
  packages/plugin-react/package.json
  packages/shared/package.json
  packages/test-helper/package.json
  pnpm-lock.yaml
Labels: change: fix

#749 feat: support output.inlineScripts
  .changeset/blue-boats-flash.md
  e2e/cases/html/minify/index.test.ts
  e2e/cases/inline-chunk/index.test.ts
  packages/core/src/plugins/inlineChunk.ts
  packages/document/docs/en/config/options/output.mdx
  packages/document/docs/en/shared/config/output/inlineScripts.md
  packages/document/docs/zh/config/options/output.mdx
  packages/document/docs/zh/shared/config/output/inlineScripts.md
Labels: change: feat

#746 feat(plugin-react): allow to enable/disable chunk splitting
  .changeset/twelve-garlics-relate.md
  packages/document/docs/en/plugins/list/plugin-react.mdx
  packages/document/docs/zh/plugins/list/plugin-react.mdx
  packages/plugin-react/src/index.ts
  packages/plugin-react/src/splitChunks.ts
  packages/plugin-react/tests/__snapshots__/features.test.ts.snap
  packages/plugin-react/tests/features.test.ts
Labels: change: feat

#745 feat(cli): cli support dev --port/--host and preview --port/--host
  .changeset/empty-lions-float.md
  packages/core/src/cli/commands.ts
  packages/document/docs/en/guide/basic/cli.mdx
  packages/document/docs/en/shared/config/server/host.md
  packages/document/docs/en/shared/config/server/port.md
  packages/document/docs/zh/guide/basic/cli.mdx
  packages/document/docs/zh/shared/config/server/host.md
  packages/document/docs/zh/shared/config/server/port.md
Labels: change: feat

#753 fix: use camel case for type
  packages/plugin-react/src/index.ts
  packages/plugin-react/src/splitChunks.ts
Labels: change: fix

#756 feat(deps): bump Rspack to v0.4.1
  .changeset/four-hats-pretend.md
  cspell.json
  e2e/package.json
  packages/compat/webpack/tests/__snapshots__/webpackConfig.test.ts.snap
  packages/compat/webpack/tests/plugins/__snapshots__/default.test.ts.snap
  packages/core/package.json
  packages/core/tests/__snapshots__/builder.test.ts.snap
  packages/core/tests/rspack-provider/plugins/__snapshots__/default.test.ts.snap
  packages/doctor-core/package.json
  packages/doctor-rspack-plugin/package.json
  packages/doctor-types/package.json
  packages/plugin-react/package.json
  packages/plugin-react/tests/__snapshots__/index.test.ts.snap
  packages/shared/package.json
  packages/shared/src/apply/basic.ts
  packages/test-helper/package.json
  pnpm-lock.yaml
Labels: change: feat

#757 docs: add guide for .env files
  packages/document/docs/en/guide/advanced/_meta.json
  packages/document/docs/en/guide/advanced/env-vars.md
  packages/document/docs/zh/guide/advanced/_meta.json
  packages/document/docs/zh/guide/advanced/env-vars.md
Labels: change: docs

#759 feat: auto inject public env vars to client
  .changeset/fuzzy-shirts-smash.md
  e2e/cases/cli/env/public/.env
  e2e/cases/cli/env/public/index.test.ts
  e2e/cases/cli/env/public/rsbuild.config.ts
  e2e/cases/cli/env/public/src/index.js
  packages/core/src/cli/commands.ts
  packages/core/src/loadEnv.ts
  packages/document/docs/en/guide/advanced/env-vars.md
  packages/document/docs/zh/guide/advanced/env-vars.md
Labels: change: feat

#760 feat(uni-builder): support tools.babel in rspack mode
  .changeset/warm-peas-run.md
  packages/compat/uni-builder/src/rspack/index.ts
  packages/compat/uni-builder/src/types.ts
  packages/plugin-babel/src/index.ts
Labels: change: feat

#761 feat(uni-builder): support experiments.sourceBuild
  .changeset/nervous-rats-provide.md
  packages/compat/uni-builder/package.json
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  pnpm-lock.yaml
Labels: change: feat

#763 docs: add loadEnv method to JavaScript API document
  packages/document/docs/en/api/javascript-api/core.mdx
  packages/document/docs/zh/api/javascript-api/core.mdx
Labels: change: docs

#767 feat(cli): support reload .env files and restart dev server
  .changeset/tender-months-explode.md
  e2e/cases/cli/reload-config/.gitignore
  e2e/cases/cli/reload-config/index.test.ts
  e2e/cases/cli/reload-config/src/index.js
  e2e/cases/cli/reload-config/tsconfig.json
  e2e/cases/cli/reload-env/.gitignore
  e2e/cases/cli/reload-env/index.test.ts
  e2e/cases/cli/reload-env/src/index.js
  e2e/cases/cli/reload-env/tsconfig.json
  e2e/scripts/helper.ts
  packages/core/src/cli/commands.ts
  packages/core/src/cli/config.ts
  packages/core/src/loadEnv.ts
Labels: change: feat

#770 docs: add mkcert tip for https dev server
  packages/document/docs/en/shared/config/server/https.md
  packages/document/docs/zh/shared/config/server/https.md
Labels: change: docs

#772 docs: fix typo in config.mdx
  packages/document/docs/zh/guide/basic/config.mdx
Labels: change: docs

#773 perf(core): remove semver from deps
  packages/core/package.json
  packages/core/src/rspack-provider/shared.ts
  pnpm-lock.yaml
Labels: change: perf

#778 types: using loose plugin type for appendPlugins @chenjiahan
  packages/document/docs/en/shared/config/tools/rspack.md
  packages/document/docs/zh/shared/config/tools/rspack.md
  packages/shared/src/types/config/tools.ts
Labels: change: feat

#769 feat: support serving public assets in the public dir
  .changeset/bright-pots-kick.md
  e2e/cases/server/publicDir.test.ts
  e2e/cases/server/publicDir/public/aa.txt
  e2e/cases/server/publicDir/public1/aa.txt
  e2e/cases/server/publicDir/src/index.js
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/tests/__snapshots__/parseConfig.test.ts.snap
  packages/compat/webpack/src/shared/plugin.ts
  packages/compat/webpack/tests/plugins/__snapshots__/default.test.ts.snap
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/server.ts
  packages/core/src/rspack-provider/shared.ts
  packages/core/src/server/devServer.ts
  packages/core/tests/__snapshots__/inspect.test.ts.snap
  packages/core/tests/rspack-provider/plugins/__snapshots__/default.test.ts.snap
  packages/document/docs/en/config/options/server.mdx
  packages/document/docs/en/shared/config/server/publicDir.md
  packages/document/docs/zh/config/options/server.mdx
  packages/document/docs/zh/shared/config/server/publicDir.md
  packages/shared/src/config.ts
  packages/shared/src/index.ts
  packages/shared/src/server.ts
  packages/shared/src/types/config/server.ts
  packages/shared/src/types/plugin.ts
  packages/shared/tests/server.test.ts
Labels: change: feat

#777 docs: add page-route guide
  packages/document/docs/en/guide/basic/_meta.json
  packages/document/docs/en/guide/basic/page-route.md
  packages/document/docs/en/shared/config/server/historyApiFallback.md
  packages/document/docs/en/shared/config/server/htmlFallback.md
  packages/document/docs/zh/guide/basic/_meta.json
  packages/document/docs/zh/guide/basic/page-route.md
  packages/document/docs/zh/shared/config/server/historyApiFallback.md
  packages/document/docs/zh/shared/config/server/htmlFallback.md
Labels: change: docs

#782 docs: add release roadmap to README
  README.md
  README.zh-CN.md
Labels: change: docs

#784 docs: add notice for preview server
  packages/document/docs/en/guide/basic/cli.mdx
  packages/document/docs/en/guide/basic/page-route.md
  packages/document/docs/zh/guide/basic/cli.mdx
Labels: change: docs

#792 types: unify config types, remove duplicated code
  packages/compat/plugin-swc/src/minimizer.ts
  packages/compat/plugin-swc/src/utils.ts
  packages/compat/plugin-swc/tests/plugin.test.ts
  packages/compat/uni-builder/src/shared/parseCommonConfig.ts
  packages/compat/uni-builder/src/types.ts
  packages/compat/uni-builder/src/webpack/index.ts
  packages/compat/uni-builder/src/webpack/plugins/babel.ts
  packages/compat/webpack/src/config/defaults.ts
  packages/compat/webpack/src/config/normalize.ts
  packages/compat/webpack/src/core/createContext.ts
  packages/compat/webpack/src/core/initHooks.ts
  packages/compat/webpack/src/index.ts
  packages/compat/webpack/src/plugins/css.ts
  packages/compat/webpack/src/plugins/minimize.ts
  packages/compat/webpack/src/provider.ts
  packages/compat/webpack/src/types/config.ts
  packages/compat/webpack/src/types/context.ts
  packages/compat/webpack/src/types/index.ts
  packages/compat/webpack/src/types/plugin.ts
  packages/compat/webpack/tests/config/normalize.test.ts
  packages/core/src/rspack-provider/core/initHooks.ts
  packages/core/src/rspack-provider/index.ts
  packages/core/src/rspack-provider/provider.ts
  packages/core/src/types.ts
  packages/shared/src/types/hooks.ts
  packages/shared/src/types/plugin.ts
  packages/shared/src/types/provider.ts
Labels: change: feat
